__pycache__/
.cache/

# gem5 simulation output (stats, configs, etc.)
m5out/

# relevant papers
papers/*.pdf

# python environment
venv/

# misc. output redirections
*.txt
# markdown notes
notes.md

# output files
*.out

# testing scripts
**/test.sh

# self plagiarization is some bs :)
mkdocs.yml
docs/
servedocs.sh
